<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Faq</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body>
    <div class="container" id="faq-app">
        <div class="jumbotron">
            <h1>Faq</h1>
        </div>
    </div>

    <script src="{{ asset('assets/javascripts/libs/vue.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.2.0/vue-resource.min.js"></script>
    <script src="{{ asset('assets/javascripts/app/app.js') }}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
